[mysqld]
server-id = 1
log-bin = /var/lib/mysql/mysql-bin

slow_query_log = 2
slow_query_log_file = /var/log/mysql/slowquery.log
long_query_time = 2

query_cache_type = 1
query_cache_size = 128M
query_cache_limit = 1M